:host {
    width: max-content;
    display: flex;
}

button {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #004080;
    font-size: 1em;
}