:host {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: white;
    overflow: hidden;
}

input {
    font-style: italic;
}

.done {
    text-decoration: line-through;
    opacity: 0.5;
}

button {
    background-color: rgb(255, 242, 255);
}


.nobg {
    background: white;
}

.blend {
    opacity: 0.5;
}