vc-canvas {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    touch-action: none;
    min-width: 64px;
    min-height: 64px;
}

vc-inspector {
    position: absolute;
    right: 10px;
    bottom: 10px;
    touch-action: none;
}